version: "3.9"
services:
  # DATABASE on INTERNAL NETWORK
  db:
    image: mariadb:11
    deploy:
      replicas: 1 
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_USER: ftpuser
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_user_password
      MYSQL_DATABASE: ftpdb
    secrets:
      - mysql_root_password
      - mysql_user_password
    volumes:
      - db_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d:ro
    networks:
      - internal_net

  # FTP ENDPOINTS ACCESSIBLE FROM PUBLIC NET
  ftp-server:
    image: serversideup/proftpd
    deploy:
      replicas: 1 
    entrypoint:
          - /bin/sh
          - -c
          - |
            if [ -f /run/secrets/mysql_user_password ]; then
              export MYSQL_PASSWORD=$$(cat /run/secrets/mysql_user_password)
            fi
            exec /entrypoint.sh proftpd --nodaemon
    environment:
      FTP_DEBUG_LEVEL: "0"
      FTP_LOG_LEVEL: "info" 
      FTP_SQL_USERS_TABLE: "ftpusers"
      MYSQL_DATABASE: ftpdb 
      MYSQL_HOST: db
      MYSQL_USER: ftpuser
    secrets:
      - mysql_user_password
    ports:
      - "21:21"
      - "60000-60100:60000-60100"
    networks:
      - internal_net
      - public_net

# VOLUMES
volumes:
  db_data: # Docker volume for the db (mounted to /var/lib/mysql)

# NETWORKS
networks:
  internal_net: # Internal network
    driver: overlay
    internal: true

  public_net: # External network
    driver: overlay

# SECRETS (external, created via docker secret)
secrets:
  mysql_root_password:
    external: true  
  mysql_user_password:
    external: true  

