name: Projects/08-CICD/1-GHActions Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Projects/08-CICD/1-GH_Actions/apis/users/**'
      - 'Projects/08-CICD/1-GH_Actions/apis/employees/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Projects/08-CICD/1-GH_Actions/apis/users/**'
      - 'Projects/08-CICD/1-GH_Actions/apis/employees/**'
  workflow_dispatch:

env:
  DOCKERHUB_ORG_NAME: ${{ vars.DOCKERHUB_ORG_NAME }}

jobs:
  set-tags:
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.set_tag.outputs.TAG }}
    steps:
    - name: Set tags
      id: set_tag
      run: |
        DATE=$(date +%Y%m%d%H%M%S)
        SHA=${GITHUB_SHA::7}
        TAG="${DATE}-${SHA}"
        echo "TAG=$TAG" >> $GITHUB_ENV
        echo "::set-output name=TAG::$TAG"

  build:
    runs-on: ubuntu-latest
    needs: set-tags
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker Build
      uses: docker/setup-buildx-action@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build Docker imgs
      run: |
        docker build -t ${{ env.DOCKERHUB_ORG_NAME }}/users:${{ needs.set-tags.outputs.TAG }} ./Projects/08-CICD/1-GH_Actions/apis/users
        docker build -t ${{ env.DOCKERHUB_ORG_NAME }}/employees:${{ needs.set-tags.outputs.TAG }} ./Projects/08-CICD/1-GH_Actions/apis/employees

    - name: Save Docker images
      run: |
        docker save ${{ env.DOCKERHUB_ORG_NAME }}/users:${{ needs.set-tags.outputs.TAG }} -o users.tar
        docker save ${{ env.DOCKERHUB_ORG_NAME }}/employees:${{ needs.set-tags.outputs.TAG }} -o employees.tar
    
    - name: Save Docker imgs (transfer to next job) 
      uses: actions/upload-artifact@v4
      with:
        name: docker-images
        path: |
          users.tar
          employees.tar

  test:
    runs-on: ubuntu-latest
    needs: [set-tags, build]
    steps:
    - name: Download Docker imgs (uploaded in build job) 
      uses: actions/download-artifact@v4
      with:
        name: docker-images
        path: .
    
    - name: Load Docker imgs 
      run: |
        docker load -i users.tar
        docker load -i employees.tar

    - name: Run python tests
      run: |
        docker run --rm ${{ env.DOCKERHUB_ORG_NAME }}/users:${{ needs.set-tags.outputs.TAG }} pytest
        docker run --rm ${{ env.DOCKERHUB_ORG_NAME }}/employees:${{ needs.set-tags.outputs.TAG }} pytest

  publish:
    runs-on: ubuntu-latest
    needs: [set-tags, test]
    steps:
    - name: Download Docker imgs (uploaded in build job) 
      uses: actions/download-artifact@v4
      with:
        name: docker-images
        path: .
    
    - name: Load Docker imgs 
      run: |
        docker load -i users.tar
        docker load -i employees.tar

    - name: Publish imgs
      run: |
        docker push ${{ env.DOCKERHUB_ORG_NAME }}/users:${{ needs.set-tags.outputs.TAG }}
        docker push ${{ env.DOCKERHUB_ORG_NAME }}/employees:${{ needs.set-tags.outputs.TAG }}
